/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 15px;
    top: 15px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: rgba(11,11,11,0.5);
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background:black;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background:whitesmoke;
    padding-top:20px;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill:whitesmoke;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.7);
  }
  /*Style menu items*/
  .a:link
  {
     font-family:'Times New Roman', Times, serif;
     color:white;
     font-size:25px;
     padding:50px;
  }
  .b:nth-child(odd)
  {
    padding-right:180px;
    padding-left:30px;
    margin-top:20px;
    text-align: center;
    background-color:white;
    color:black;
    font-size:20px;
  }
  .b:nth-child(even)
  {
    padding-right:180px;
    padding-left:30px;
    margin-top:20px;
    background-color:white;
    color:black;
    font-size:20px;
  }
  .b:hover
  {
    font-size:21px;
    background-color:blue;
  }
  .a:hover
  {
    font-size:27px;
    text-decoration: none;
    color:white;
  }
  /* Add padding to login user,admin and signup */
  #loginUser,#loginAdmin
  {
      padding-top:5%;
  }
  #loginAsUser
  {
    width:300px;
    box-shadow:20px 20px 20px 20px rgba(0, 0, 0, 0.2);
    text-align:center;
    position: absolute;
    left:40%;
  }
  #loginAsUser img
  {
    width:300px;
    height:300px;
  }
  #signup 
  {
    font-size:30px;
  }
  #title
  {
    text-align: center;
  }
  #logoutbtn
  {
    position: absolute;
    left: 0;
    top: 5px;
  }
  /* Adding styling to card */
  #product div
  {
    margin-bottom:20px;
    box-shadow:20px 20px 20px hsla(0, 0%, 0%, 0.2);
    display: inline-block;
  }
  #product div h3
  {
    border:1px solid rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    padding-bottom:10px;
    font-family: cursive;
  }
.MenuItem
  {
      cursor:pointer;
  }
#productImage
{
  height:400px;
  width:300px;
  z-index:-1;
  box-shadow:10px 10px 10px 10px rgba(22,22,22,0.1);
}
#productDetails
  {
    margin-top:2%;
    margin-left:2%;
    position: relative;
    top:-40px;
  }
#border 
{
  padding-top:80px;
  border-left: 15px solid #2980B9 ;
  border-right:15px solid #2980B9;
  margin-left:2.5%;
  margin-right:76%;
}
#productDetailsBorder
{
  border-top:2px solid  #2980B9;
  border-left: 3px dotted #3498DB;
  border-right:3px dotted #3498DB;
}
#productDetailsBorder div 
{
  padding-top:20px;
}
#productDetailsBorder div h3 
{
  padding-top:20px;
  padding-bottom:20px;
}
#productDetailsBorder div h3:hover
{
  background-color: rgba(22,22,22,0.1);
}
#productDetailsBorder div h2
{
  text-align: center;
  color:#2980B9;
}
#productDetailsBorder div #status
{
  text-align: center;
  color:rgba(33,33,33,0.4);
}
#inStock
{
  font-size:20px;
  padding-left:10px;
}
.inStock
{
  position: absolute;
  left:15px;
}
.outStock
{
  position: absolute;
  top:-5%;
  width:200px;
}
.card-title,.card-text
{
  white-space: nowrap; 
  width: 420px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}
#productData
{
  visibility: hidden;
}
#addToCartImage
{
  position: absolute;
  right:30px;
  top:0px;
}
#addToCartLength
{
  position: absolute;
  right:80px;
  top:0px;
}
#addToCartProduct
{
  box-shadow:20px 20px 20px hsla(0, 0%, 0%, 0.2);
  border-right:1px solid black;
  width:50%;
}
#addToCartSingle
{
  margin-top:20px;
}
#MenuOverflow
{
 float: left;
 width:10%;
 height:100%;
 text-align:center;
 border-right:1px solid black;
 font-size:20px;
 word-wrap: break-word;
 padding-top:20px;
 padding-bottom:20px;
 background-color:white;
 position:fixed;
 z-index:2;
}
#MenuOverflow a:hover 
{
  color:blue;
}
.showProduct
{
  margin-left:200px;
}